{% extends "base.html" %}

{% block title %}Control center{% endblock %}

{% block pagetitle %}Rpi controller{% endblock %}

{% block content %}
    <ul class="table-view">
        {% for pin in pins %}
        <li class="table-view-cell">
            {{ pin.name }} (pin {{ pin.id }})
            <div class="toggle{% if pin.state == "on" %} active{% endif %}" id="p{{ pin.id }}">
                <div class="toggle-handle"></div>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block endbody %}<script src="/static/switchHandler.js"></script>{% endblock %}