{% extends "base.html" %}

{% block head %}{% if polling %}<script type="text/javascript">var pollingDelay = {{ polling }};</script>{% endif %}{% endblock %}

{% block title %}Control center{% endblock %}

{% block pagetitle %}Rpi controller{% endblock %}

{% block content %} 
    <ul class="table-view">
        {% for dev in devices %}
        <li class="table-view-cell pins-info">
            {{ dev.name }}
            {% if dev.type == "out" %} {% if display %}(pin {{ dev.pins[0] }}){% endif %}
            <div class="toggle toggle-out{% if dev.state == "on" %} active{% endif %}" id="p{{ dev.id }}">
                <div class="toggle-handle"></div>
            </div>{% endif %}
            {% if dev.type == "in" %} {% if display %}(pin {{ dev.pins[0] }}){% endif %}
            <div class="toggle toggle-in{% if dev.state == "on" %} active{% endif %}" id="p{{ dev.id }}">
                <div class="toggle-handle-in"></div>
            </div>{% endif %}
            {% if dev.type == "1ws" %} {% if display %}(pins {{ dev.pins[0] }}, {{ dev.pins[1] }}, {{ dev.pins[2] }}){% endif %}
                <span class="sensor-value pull-right">value {{ dev.units }}</span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block endbody %}<script src="/static/switchHandler.js"></script>{% endblock %}