{% extends "base.html" %}

{% block head %}{% if polling %}<script type="text/javascript">var pollingDelay = {{ polling }};</script>{% endif %}{% endblock %}

{% block title %}Control center{% endblock %}

{% block pagetitle %}Rpi controller{% endblock %}

{% block content %} 
    <ul class="table-view">
        {% for pin in pins %}
        <li class="table-view-cell pins-info">
            {{ pin.name }} {% if display %}(pin {{ pin.id }}){% endif %}
            {% if pin.type == "out" %}<div class="toggle{% if pin.state == "on" %} active{% endif %}" id="p{{ pin.id }}">
                <div class="toggle-handle"></div>
            </div>{% endif %}
            {% if pin.type == "1ws" %}
                <span class="sensor-value pull-right">value {{ pin.unit }}</span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block endbody %}<script src="/static/switchHandler.js"></script>{% endblock %}