{% extends "base.html" %}
{% block title %}Authorisation{% endblock %}

{% block pagetitle %}Rpi controller{% endblock %}

{% block content %}
	{% if error %}<div class="alert alert-error">{{ error }}</div>{% endif %}
    <form action="?next={{ next }}" method="POST" class="login-form">
    	<input type="text" placeholder="Login" name="login" />
		<input type="password" placeholder="Password" name="password" />
    	<input type="submit" class="btn btn-primary btn-block" value="Login" />
    </form>
{% endblock %}