.footer-text {
  position: absolute;
  left: 12px;
  right: 0;
  padding: 10px 0;
}

.login-form {
    margin-top: 30px;
}

.pins-info {
    padding-right: 16px;
}

.alert-error {
    margin-top: 24px;
    margin-left: 12px;
    color: red;
}