.footer-text {
  position: absolute;
  left: 12px;
  right: 0;
  padding: 10px 0;
}

.login-form {
    margin-top: 30px;
}

.pins-info {
    padding-right: 16px;
}

.alert-error {
    margin-top: 24px;
    margin-left: 12px;
    color: red;
}

.toggle-in, .toggle-in.active {
  background-color: #999 !important;
  border-color: #999 !important;
}

.toggle-handle-in {
    background-color: #adadad !important;
    border: none !important;
}

.toggle-in.active .toggle-handle-in {
    background-color: #22a4d4 !important;
    border: none !important;
}